<html>
	<head>
		<meta charset="UTF-8">
		<title>Jazz's Blog</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		
	</head>
	<body>
		<nav class="nav">
			<ul class="me">
				<li><a target="_blank" href="about">About Me</a></li>
				<li><a target="_blank" href="https://jazzjones.io">Portfolio</a></li>
				<li id="contact"><a href="#">Contact Me</a></li>				
			</ul>
			<hr/>
			<ul class="social">
				<li><a href="https://twitter.com/JazzTheTwig">Twitter</a></li>
				<li><a target="_blank" href="https://github.com/twiggytwixter">Github</a></li>
			</ul>
		</nav>
		{{{body}}}
</html>