@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/**********General***************/
		
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'sans-serif';
}

/**********Navigation Menu***************/

nav {
	height: 100%;
	width: 150px;
	padding-top: 250px;
	position: fixed;
}

.nav ul {
	text-align: left;
	padding: 0;
	padding-left: 10px;
}

.nav li{
	list-style: none;
	margin-bottom: 20px;
}

.nav li:hover {
	cursor: pointer;
}
			
.nav hr {
	width: 80px;
	margin-right: 60px;
}

.nav a {
	text-decoration: none;
	color: #000;
}

.nav a:hover {
	cursor: pointer;
	color: orange;
}

/**********Content***************/

.header {
	margin: 0 auto;
	text-align: center;
	padding-top: 15px;
}

.header hr {
	width: 500px;
	margin-bottom: 10px;
}

.posts h2 {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}

.posts {
	width: 500px;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: left;
	line-height: 25px;
}
